* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  padding: 0 5%;
}
/* Regole navbar */

#navbar ul, #navbar li {
  display: inline-block;
  padding: 5px;
}

#navbar ul:nth-of-type(even) {
float: right;
}

#navbar img {
  max-width: 100%;
  padding-top: 5px;
}


/* regole jumbotron */

#jumbotron {
  background-image: url(../img/jumbo.svg);
}

#jumbotron h1 {
  color: white;
  font-size: 4em;
}

#jumbotron p {
  color: white;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.form {
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.form h3 {
  font-weight:bold;
}

.form h3:first-of-type {
  margin-top: 20px;
  padding-top: 10px;
}

.form h3:last-of-type {
  color: blue;
}

.form input, .form button {
  width: 95%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

.form button:first-of-type {
  background-color: blue;
  color: white;
}

#jumbotron .form p {
  font-size: 0.9em;
  color:black;
  padding-bottom: 20px;
}



/*  MAIN */


/* regole sezione partner */

#partnerarea {
  text-align: center;
  background-color:  #f3f5f9;
}

#partnerarea .row {
  padding: 20px 0;
}

#partnerarea img {
  max-width: 100%;
}

#partnerarea h5 {
  font-weight: bold;
  color: grey;
}


/*  regole sezione DEploy */

.deploytoptext {
  text-align: center;
  margin-bottom: 20px;
}

.deploytoptext h2 {
  font-weight: bold;
}

.deploytoptext p {
  font-size: 1.5em;
  color: gray;
}

#deploy ul {
  list-style: none;
  border-left: 1px solid gray;
}

#deploy li {
  padding: 8px 5px;
}

#deploy h5 {
  font-weight: bold;
  font-size: 1.3em;
}

#deploy p {
  color: grey;
}
