* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  padding: 0 8%;
}
/* Regole navbar */

#menunormale ul, #menunormale li {
  display: inline-block;
  padding-top: 8px;
  padding-right: 5px;
}

#navbar ul:nth-of-type(even) {
float: right;
}

#navbar img {
  max-width: 100%;
  padding-top: 5px;
}

.whitebutton {
  padding: 10px 5px;
  background-color: white;
  color: blue;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid blue;
}

/* regole jumbotron */

#jumbotron {
  background-image: url(../img/jumbo.svg);
}

#jumbotron h1 {
  color: white;
  font-size: 4em;
}

#jumbotron p {
  color: white;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.form {
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.form h3 {
  font-weight:bold;
}

.form h3:first-of-type {
  margin-top: 20px;
  padding-top: 10px;
}

.form h3:last-of-type {
  color: blue;
}

.form input, .form button {
  width: 95%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

.form button:first-of-type {
  background-color: blue;
  color: white;
}

#jumbotron .form p {
  font-size: 0.9em;
  color:black;
  padding-bottom: 20px;
}



/*  MAIN */


/* regole sezione partner */

#partnerarea {
  text-align: center;
  background-color:  #f3f5f9;
}

#partnerarea .row {
  padding: 20px 0;
}

#partnerarea img {
  max-width: 100%;
}

#partnerarea h5 {
  font-weight: bold;
  color: grey;
}


/*  regole sezione DEploy */

.deploytoptext {
  text-align: center;
  margin-bottom: 20px;
}

.deploytoptext h2 {
  font-weight: bold;
}

.deploytoptext p {
  font-size: 1.5em;
  color: gray;
}

#deploy ul {
  list-style: none;
  border-left: 1px solid gray;
}

#deploy li {
  padding: 8px 5px;
}

#deploy h5 {
  font-weight: bold;
  font-size: 1.3em;
}

#deploy p {
  color: grey;
}

/* regole primo/secondo carosello */

.carosello1 {
  background-color: #f3f5f9;
  text-align: center;
}

.carosello1 h2 {
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 10px;
}
.carosello1 p {
  font-size: 1.5em;
  color: grey;
}
.carosello1 img {
  min-width: 30%;
  max-width: 60%;
}

.carosello1 i {
  font-size: 2.5em;
}

.carosello1 .fa-circle {
  font-size: 1em;
  color: blue;
  padding-bottom: 30px;
}

.carosello1 h3 {
  color: darkblue;
  font-size: 1.5em;
}

@media screen and (max-width:991px) {
  .carosello1 .fa-chevron-left, .carosello1 .fa-chevron-right {
    display: none;
  }
}


/* regole sezione features */

#features {
  margin-bottom: 30px;
}
#features h3 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 20px;
}

#features h5 {
  font-weight: bold;
  font-size: 1.3em;
}

#features p {
  color: grey;
}


/* regole sezione speedtest */

#speedtest {
  background-color: #1549b2;
}

#speedtest h2 {
  color: white;
  font-size: 2em;
  text-align: center;
}

#speedtest table {
  width: 100%;
  margin-bottom: 30px;
}

#speedtest tr {
  border-bottom: 1px solid white;
}

#speedtest td, #speedtest th {
  padding: 8px 0;
  color: white;
}

#speedtest th {
  width: 20%;
}

#speedtest table td:last-of-type {
  text-align: right;
}

#speedtest table tr:last-of-type {
  border-bottom: none;
}

/* regole get started */
#getstarted {
  background-color: #1549b2;
  text-align: center;
  height: 120px;
}

#getstarted h2 {
  color: white;
  font-size: 2em;
  padding-bottom: 10px;
}

#getstarted a {
  text-decoration: none;
  padding: 10px 5px;
  background-color: white;
  border-radius: 5px;
}

/* regole footer */

#footer {
  background-color: #031b4e;
}

#footer img {
  margin-top: 20px;
  margin-bottom: 5px;
}

#footer p {
  color: lightgrey;
}

#footer span {
  color: #bcbcbc;
}

#footer i {
  font-size: 1.5em;
  padding: 10px 5px;
}


#footer h5 {
  font-size: 1.5em;
  color: white;
  margin-top: 20px;
}

#footer ul {
  list-style: none;
}

#footer a {
  text-decoration: none;
  color: lightgrey;
}

/*  TEST NAVBAR HAMBURGER */
@media screen and (min-width:1199px) {
 #menuhamburger {
   display: none;
 }
}

@media screen and (max-width: 1199px) {
  #menunormale {
    display: none;
  }
  #menuhamburger .dropdown {
    display: none;
  }
  #menuhamburger {
    float: right;
  }
  #menuhamburger:hover .dropdown{
    display: block;
  }
  .dropdown ul {
    list-style: none;
    border: 1px solid black;
    padding: 10px;
  }
}
